* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 24px;
  color: #343a40;
  height: 100vh;
  font-weight: bold;
  text-align: center;

  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
}

nav,
aside,
section,
main {
  padding-top: 32px;
}

nav {
  background-color: #343a40;
  color: #f4f4f4;
  grid-row: 1 / -1;
}

menu {
  background-color: #845ef7;
  grid-column: 2 / -1;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 40px;
}

button {
  display: inline-block;
  background-color: #5f3dc4;
  color: #f4f4f4;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
}

/* Seleciona o último elemento */

button:last-child {
  background-color: #d6336c;
  margin-left: auto;
}

section {
  background-color: #dee2e6;
  padding: 40px;

  overflow: scroll;

  display: flex;
  gap: 12px;
  flex-direction: column;
}

.email {
  background-color: #868e96;
  height: 96px;

  /* ajuste no scroll devido display flex */
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  background-color: #dee2e6;
}

